/* Основные стили */
.app {
  background-color: #f0f2f5;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.title {
  text-align: center;
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-item {
  margin: 0 15px;
}

.filter-select {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Список аниме */
.anime-list {
  max-width: 1200px;
  margin: 0 auto;
}

.anime-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.anime-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  width: 200px;
  display: flex;
  flex-direction: column; /* Для вертикального выравнивания */
  justify-content: space-between; /* Растягивает контент и фиксирует нижний блок */
  transition: transform 0.3s;
  
}

.anime-card:hover {
  transform: translateY(-5px);
}

.anime-image {
  width: 100%;
  height: 300px; /* Фиксированная высота для всех изображений */
  object-fit: cover; /* Масштабирование без искажения */
}

.anime-title {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  color: brown;
}

.anime-rating {
  font-size: 14px;
  color: #555;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Толкает рейтинг вниз */
  text-decoration: none;
}

 

/* Пагинация */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-btn:hover {
  background-color: #2980b9;
}

.pagination-btn:disabled {
  background-color: #ccc;
}

.error {
  color: red;
  text-align: center;
}

.empty-list {
  text-align: center;
  font-size: 1.2em;
  color: #7f8c8d;
}

/* Стили для поля поиска */
.filter-input {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.filter-input:focus {
  border-color: #3498db;
  outline: none;
}

/* Стили для кнопки поиска */
.search-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #2980b9;
}

.search-btn:active {
  background-color: #1c6e9c;
}
